.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
    background: transparent;
    color: white;
}

.header__title {
    font-size: 72px;
    font-family: 'Bangers', cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.header__nav {
    display: flex;
    gap: 10px;
}

.header__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #FFD700;
    padding: 8px 16px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.header__btn img {
    height: 24px;
    width: 24px;
}

.home_icon_gif, .settings_icon_gif {
    display: none;
}

.header__btn:hover {
    background: white;
}

.header__btn:hover .home_icon, .header__btn:hover .settings_icon {
    display: none;
}

.header__btn:hover .home_icon_gif, .header__btn:hover .settings_icon_gif {
    display: flex;
}

.game__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.game__canvas {
    background: black;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    display: block;
}

.controls__container, .controls__container__smartphone {
    display: none;
    justify-content: space-between;
    gap: 64px;
    align-items: center;
    width: min(100%, 854px);
}

.controls__right , .controls__left {
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
}

.controls__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFA700;
    color: white;
    padding: 8px;
    border-radius: 50%;
    transition: 0.3s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.controls__btn img {
    height: 40px;
    width: 40px;
}

.controls__btn:hover {
    background: #FFD700;
}

.start__button {
    position: absolute;
    top: 87%;
    padding: 15px 40px;
    font-size: 24px;
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
    color: white;
    background-color: #FFA700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease-in-out;
}

.start__button:hover {
    background-color: #FFD700;
    transform: scale(1.05);
}

.hud {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    width: 100%;
    height: 100%;
}

.change__sound__box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
}

:fullscreen .game__container,
:-webkit-full-screen .game__container,
:-ms-fullscreen .game__container {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    flex-direction: column;
}

:not(:root):fullscreen::backdrop {
    position: fixed;
    inset: 0px;
    background-color: #F8EDE3;
    background-image: url('./assets/img/own_img/background_alternative_8.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

:fullscreen canvas,
:-webkit-full-screen canvas,
:-ms-fullscreen canvas {
    width: 100vw !important;
    height: 100vh !important;
    object-fit: contain;
}

.rotate__hint {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000dd;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 9999;
    padding: 2rem;
    font-size: 1.5rem;
    display: none;
}
  
.rotate__hint img {
    width: 100px;
    margin-bottom: 20px;
}
  
.rotate__text {
    font-size: 1.5rem;
}

.show__controls {
    display: flex !important;
}

.controls__container__smartphone {
    display: none !important;
}

.locked__landscape {
    overflow: hidden !important;
}

.main__locked__container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
    height: 100% !important;
}

.home__btn__hud {
    display: none;
}

.mobile_hud__bottom {
    display: none;
}

.mobile_hud__containerbottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.mobile_hud__containerbottom__box {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    width: 100%;
}

.mobile_hud__linksextra {
    color: white;
    opacity: 70%;
    text-decoration: none;
    font-family: 'Fredoka', Arial, Helvetica, sans-serif;
    font-weight: 400;
    transition: color 125ms ease-in-out;
}

.mobile_hud__linksextra:hover, .mobile_hud__linksextra:active {
    color: #FF5733;
}

.mobile_hud__credits {
    color: white;
    opacity: 70%;
    align-items: center;
}

.hud__top_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.controls__btn, .controls__btn * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
    touch-action: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior: none;
}

.controls__btn img {
    pointer-events: none;
    -webkit-touch-callout: none;
}

body {
    padding-bottom: env(safe-area-inset-bottom);
    padding-top: env(safe-area-inset-top);
}  

@media only screen and (max-width: 992px) and (orientation: portrait) {
    .rotate__hint {
        display: flex;
    }

    .main__container {
        display: none;
    }
}

@media only screen and (max-width: 992px) and (orientation: landscape) {
    .locked__landscape {
        height: 100% !important;
        overflow: hidden !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        margin: 0 !important;
    }

    .main__locked__container {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        width: 100% !important;
        height: 100% !important;
    }

    .hud {
        padding: 8px;
    }

    .toggle__controls {
        display: none;
    }

    .start__button {
        padding: 12px 24px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 854px) {
    canvas {
        width: 100%;
    }

    .header__title {
        font-size: 48px;
    }

    .header__btn {
        padding: 4px 8px;
    }
}

@media only screen and (max-width: 600px) {
    .header__container {
        flex-direction: column;
        gap: 16px;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    .controls__container {
        display: none;
    }

    .controls__container__smartphone.show__controls {
        display: flex !important;
    }
}

@media (hover: none) and (pointer: coarse) and (orientation: landscape) {
    .controls__container {
        display: none !important;
    }

    .controls__container__smartphone.show__controls {
        display: flex !important;
    }

    .mobile_hud__bottom {
        display: flex;
    }

    .home__btn__hud {
        display: flex;
    }

    .hud__top_container {
        justify-content: space-between;
    }

    .locked__landscape__mobile {
        height: 100% !important;
        overflow: hidden !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        margin: 0 !important;
    }

    .main__locked__container__mobile {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        width: 100% !important;
        height: 100% !important;
    }
}




