.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background: transparent;
    color: white;
}

.header__title {
    font-size: 72px;
    font-family: 'Bangers', cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.header__nav {
    display: flex;
    gap: 10px;
}

.header__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #FFD700;
    padding: 8px 16px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.header__btn img {
    height: 24px;
    width: 24px;
}

.home_icon_gif, .settings_icon_gif {
    display: none;
}

.header__btn:hover {
    background: white;
}

.header__btn:hover .home_icon, .header__btn:hover .settings_icon {
    display: none;
}

.header__btn:hover .home_icon_gif, .header__btn:hover .settings_icon_gif {
    display: flex;
}

.game__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.game__canvas {
    background: black;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    display: block;
}

.controls__container, .controls__container__smartphone {
    display: none;
    justify-content: space-between;
    gap: 64px;
    align-items: center;
    width: 100%;
}

.controls__right , .controls__left {
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
}

.controls__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFA700;
    color: white;
    padding: 8px;
    border-radius: 50%;
    transition: 0.3s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.controls__btn img {
    height: 40px;
    width: 40px;
}

.controls__btn:hover {
    background: #FFD700;
}

.start__button {
    position: absolute;
    top: 87%;
    padding: 15px 40px;
    font-size: 24px;
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
    color: white;
    background-color: #FFA700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease-in-out;
}

.start__button:hover {
    background-color: #FFD700;
    transform: scale(1.05);
}

.hud {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    width: 100%;
    height: 100%;
}

.change__sound__box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
}


@media only screen and (max-width: 854px) {
    canvas {
        width: 100%;
    }

    .controls__container {
        display: flex;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    .controls__container {
        display: none;
    }

    .controls__container__smartphone {
        display: flex;
    }
}

