footer {
    min-height: 80px;
    background: transparent;
    display: flex;
    align-items: center;
}

.footer__container {
    width: min(100%, 1920px);
    margin-inline: auto;
    padding-inline: clamp(16px, 2vw, 32px);
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.footer__containerbottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.footer__containerbottom__box {
    display: flex;
    gap: 16px;
}

.footer__linksextra, .footer__linksextra:visited {
    color: #6D6D6D;
    opacity: 70%;
    text-decoration: none;
    font-family: 'Fredoka', Arial, Helvetica, sans-serif;
    font-weight: 400;
    transition: color 125ms ease-in-out;
}

.footer__linksextra:hover, .footer__linksextra:active {
    color: #FF5733;
}

.footer__credits {
    color: #6D6D6D;
    opacity: 70%;
    align-items: center;
}

@media(max-width: 450px){
    .footer__container {
        padding: 16px 0px;
    }

    .footer__containerbottom__box {
        align-items: center;
        flex-direction: column;
        gap: 8px;
    }
}

@media (hover: none) and (pointer: coarse) and (orientation: landscape) {
    footer {
        display: none !important;
    }
}
